.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 20px 20px;
    position: relative;
    z-index: 3;
    gap: 6px;
}

.ornement {
    width: 60px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 35px;
    user-select: none;
}

.double-title {
    position: relative;
    display: inline-block;
    user-select: none;
}

.title-ghost {
    font-family: var(--font-titre);
    font-size: clamp(60px, 10vw, 120px);
    font-weight: 700;
    color: var(--or-fantome);
    letter-spacing: 0.15em;
    margin-top: -15px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.title-main {
    font-family: var(--font-titre);
    font-size: clamp(36px, 6vw, 72px);
    font-weight: 400;
    color: var(--or);
    letter-spacing: 0.08em;
    position: relative;
    z-index: 1;
    margin-top: -10px;
    padding: 16px 0;
    text-shadow: 0 0 40px rgba(201, 168, 76, 0.3);
}

/* ============================================
   HERO BANNER (image sous le texte)
   ============================================ */
.hero-banner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    z-index: 1;
    user-select: none;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

/* Fondu noir en HAUT de l'image */
.hero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, var(--noir), transparent);
    z-index: 2;
}

/* ============================================
   HERO separateur
   ============================================ */
.separateur-hero{
    margin-top: -166px;
}

.wip{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {

    .hero {
        padding: 60px 16px 10px;
        gap: 4px;
    }

    .ornement {
        width: 40px;
        margin-bottom: 20px;
    }

    .title-ghost {
        font-size: clamp(40px, 12vw, 80px);
        letter-spacing: 0.08em;
    }

    .title-main {
        font-size: 8vw;
        letter-spacing: 0.05em;
    }

    .separateur-hero {
        margin-top: -60px;
    }

    .wip img {
        width: 90%;
    }

}